<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Ajaxlogin>
      <version>0.1.2</version>
    </Magebuzz_Ajaxlogin>
  </modules>
  <frontend>
    <!--<secure_url>
    <ajaxlogin>/ajaxlogin/</ajaxlogin>
    </secure_url>-->	
    <routers>
      <ajaxlogin>
        <use>standard</use>
        <args>
          <module>Magebuzz_Ajaxlogin</module>
          <frontName>ajaxlogin</frontName>
        </args>
      </ajaxlogin>
    </routers>
    <layout>
      <updates>
        <ajaxlogin>
          <file>ajaxlogin.xml</file>
        </ajaxlogin>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Ajaxlogin>
          <files>
            <default>Magebuzz_Ajaxlogin.csv</default>
          </files>
        </Magebuzz_Ajaxlogin>
      </modules>
    </translate>   
  </frontend>
  <!--  <admin>
  <routers>
  <ajaxlogin_admin>
  <use>admin</use>
  <args>
  <module>Magebuzz_Ajaxlogin</module>
  <frontName>ajaxlogin_admin</frontName>
  </args>
  </ajaxlogin_admin>
  </routers>
  </admin>-->
  <admin>  
    <routers>
      <adminhtml>
        <args>
          <use>standard</use>
          <modules>
            <Magebuzz_Ajaxlogin after="Mage_Adminhtml">Magebuzz_Ajaxlogin</Magebuzz_Ajaxlogin>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <ajaxlogin>
          <file>ajaxlogin.xml</file>
        </ajaxlogin>
      </updates>
    </layout>       
    <translate>
      <modules>
        <Magebuzz_Ajaxlogin>
          <files>
            <default>Magebuzz_Ajaxlogin.csv</default>
          </files>
        </Magebuzz_Ajaxlogin>
      </modules>
    </translate>  
  </adminhtml>   
  <global>  
    <models>
			<ajaxlogin>
				<class>Magebuzz_Ajaxlogin_Model</class>
				<resourceModel>ajaxlogin_mysql4</resourceModel>
			</ajaxlogin>
			<ajaxlogin_mysql4>
				<class>Magebuzz_Ajaxlogin_Model_Mysql4</class>
				<entities>
					<ajaxlogin>
						<table>ajaxlogin</table>
					</ajaxlogin>
				</entities>
			</ajaxlogin_mysql4>
		</models>
    <blocks>
      <ajaxlogin>
        <class>Magebuzz_Ajaxlogin_Block</class>
      </ajaxlogin>			
    </blocks>
    <helpers>
      <ajaxlogin>
        <class>Magebuzz_Ajaxlogin_Helper</class>
      </ajaxlogin>
    </helpers>
    <events>
    <controller_action_predispatch_ajaxlogin_index_loginpost>
        <observers>
          <module>
            <class>ajaxlogin/observer</class>
            <method>checkCaptchaLoginpost</method>
          </module>
        </observers>
      </controller_action_predispatch_ajaxlogin_index_loginpost>
      <controller_action_predispatch_ajaxlogin_index_forgotpassword>
        <observers>
          <module>
            <class>ajaxlogin/observer</class>
            <method>checkCaptchaforgotpassword</method>
          </module>
        </observers>
      </controller_action_predispatch_ajaxlogin_index_forgotpassword>
      <controller_action_predispatch_ajaxlogin_index_registerpost>
        <observers>
          <module>
            <class>ajaxlogin/observer</class>
            <method>checkCaptcharegisterpost</method>
          </module>
        </observers>
      </controller_action_predispatch_ajaxlogin_index_registerpost>
    </events>			
  </global>
  <default>
    <ajaxlogin>
      <general>
        <enable_loginpopup>1</enable_loginpopup>
        <include_js>1</include_js>
        <enable_showhomepage>1</enable_showhomepage>			
      </general>
    </ajaxlogin>
  </default>
</config>